.body {
  background-image: url("https://cdn.shopify.com/s/files/1/0277/2615/1768/products/0056625_yoop-grey-dog-wallpaper_800x1026_crop_center@2x.jpg?v=1648232607");
  padding: 2em;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.452);
  height: 1500px

}

.loader {
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 450px;
  margin-top: 80px;
}
