.video {
  position: fixed;
  height: 900px;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

.title1 {
  font-family: "fontnew";
  color: rgb(241, 241, 226);
  font-size: 55px;
  float: right;
  padding-top: 0em;
  padding-right: 1em;
}

.title2 {
  font-family: "fontnew";
  color: rgb(255, 255, 255);
  display: flex;
  font-size: 45px;
  float: right;
  padding-right: 2em;
  padding-left: 25em;
  /* padding-top: 0em; */
  /* padding-bottom: 90em; */
  margin-right: 10px;
}

.button {
  float: right;
  padding-right: 9em;
  padding-top: 5em;
}

.button button {
  color: #fdfdfd;
  letter-spacing: 2px;
  font-size: 25px;
  text-decoration: none;
  background-color: #ffffff00;
  border: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  transition: 0.4s;
  border: 1px solid rgba(255, 255, 255, 0.499);
  padding: 5px;
  border-radius: 2px;
}

.button button:hover {
  cursor: pointer;
  background-color: rgba(197, 92, 0, 0.452);
  border: 1px solid rgba(213, 99, 0, 0.452);
}

@font-face {
  font-family: "fontnew";
  src: url("../13Extras/SimpleThread_PERSONAL_USE_ONLY.otf");
}

.yellow{
  display:inline-block; 
  background-color: #fdfdfd3f;
  border-radius: 10px;
  /* position: relative; */
margin-top: 409px;
margin-left: 200px;
font-size: 20px;
}

.letras{
  color: rgb(55, 52, 56);
}