.body {
  background-image: url("https://cdn.shopify.com/s/files/1/0277/2615/1768/products/0056625_yoop-grey-dog-wallpaper_800x1026_crop_center@2x.jpg?v=1648232607");
  padding: 4em;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.452);
  /* height: fit-content; */
  height: 900px;
}
.go {
  font-size: 20px;
  cursor: pointer;
}
.yellow {
  color: #9729b3;
  font-size: 20px;
}
.h {
  font-size: 15px;
}

.go {
  background: #e7a62d44;
  border-color: #df47d2;
  padding: 15px 25px 15px 25px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  margin-left: 5px;
  transition: all ease-in-out 0.2s;
  border-radius: 50%;
}

.go:hover {
  background: rgba(229, 122, 250, 0.874);
  cursor: pointer;
}
.red {
  color: #df4759;
}

.social svg {
  width: 2.2rem;
  height: 2.2rem;
  margin-left: 1.5rem;
}

.social a img {
  width: 30px;
  height: 30px;
}

.p {
  position: relative;
  padding: 70px;
  background-color: rgba(86, 17, 88, 0.219);
  height: 420px;
  display: inline-block;
  top: 40px;
  width: 590px;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  align-items: center;
  clear: left;
  border: 5px solid rgba(0, 0, 0, 0.247);

  /* display: block; */
  /* margin: auto; */
}

.thalita {
  float: left;
  width: 10em;
  height: 15em;
  border-radius: 20px;
  border: 4px solid rgba(0, 0, 0, 0.247);
}
