.cardsGrid {
  background-image: url("https://cdn.shopify.com/s/files/1/0277/2615/1768/products/0056625_yoop-grey-dog-wallpaper_800x1026_crop_center@2x.jpg?v=1648232607");
  padding: 1em;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px

}
.container {
  position: relative;
  padding: 50px;
  display: inline-block;
  top: 10px;
  border-radius: 5px;
  line-height: 0.5;
  width: 35em;
  position: relative;
  display: inline-block;
}
.img {
  width: 18rem;
  height: 15rem;
  border-radius: 2%;
  border-image: fill;
  border: 5px solid rgba(0, 0, 0, 0.397);
}

.link {
  background: #e7a62dc2;
  border: none;
  padding: 15px 25px 15px 25px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  margin-left: 5px;
  transition: all ease-in-out 0.2s;
  border-radius: 50%;
}

.link:hover {
  background: rgba(229, 122, 250, 0.874);
}

.parrafo {
  color: #000000;
  font-size: 23px;
  font-family: "fontnew2";
  border-radius: 1%;
  box-shadow: 30px 30px 26px 35px rgb(117, 101, 101);
}

/* @font-face {
  font-family: "fontnew2";
  src: url("../../components/images-font/Ascrada.ttf")
}

@font-face {
  font-family: "fontnew";
  src: url('../images-font/Heaters.otf');

} */
.name {
  font-family: "fontnew1";
  color: rgb(0, 0, 0);
  font-size: 30px;
}

.gif{
  width: 200px;
  height: 200px;
 margin-top: 20%;
}