.button {
  background: #2f659e00;
  border: none;
  padding: 8x;
  font-family: "fontnew2";
  font-size: 25px;
}

.btn {
  background: #e9000000;
  border: none;
  padding: 10px;
  font-family: "fontnew2";
  font-size: 30px;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.input {
  background: #a7a7aaad;
  width: 270px;
  font-size: 25px;
  font-family: monospace;
  margin-left: 85px;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: capitalize;
  transition: all ease-in-out 0.2s;
}

.btn1 {
  background: #e9000000;
  border: none;
  padding: 10px;
  font-family: "fontnew2";
  font-size: 30px;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  /* margin-left: 10PX; */
}

.input::placeholder {
  font-size: 20px;
  color: rgba(255, 246, 246, 0.466);
}
.input:hover {
  background: rgba(238, 238, 238, 0.789);
}

.button:hover {
  font-size: 25px;
  background-color: rgba(128, 255, 0, 0.281);
  border-radius: 50%;

}
.btn:hover {
  background: rgba(213, 99, 0, 0.452);
  border-radius: 50px;

}
.btn1:hover {
  background: rgba(255, 244, 254, 0.267);
  /* cursor: pointer; */
  border: 1px solid rgba(170, 108, 221, 0.445);
  border-radius: 50px;
}
/* font-size: 20px;
    cursor: pointer;
  }
   */
