.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 200px));
  justify-content: center;
  margin-top: 13px;
  height: fit-content;
}

.gif {
  width: 200px;
  height: 200px;
  margin-top: 20%;
}
